* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row; /* Alterado para row para colocar os elementos lado a lado */
    gap: 15px;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
}


header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    padding: 5px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilos adicionais */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Inicialmente oculto */
    z-index: 999; /* Colocado acima de tudo, exceto da barra lateral */
}

.sidebar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    z-index: 1001; /* Garante que o ícone esteja sempre acima de tudo */
}

.sidebar-toggle i {
    font-size: 25px;
    color: #333;
}

.logo-container {
    display: flex;
    align-items: flex-start;
    margin-left: 60px; /* Ajuste a margem para evitar sobreposição com o botão */
}

.logo {
    height: 30px;
    margin-right: 4px;
    /* Ajuste a margem para espaçamento */
}

.text-container {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    font-family: 'Fredoka', sans-serif;
}

.text-container-2 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: -0px; /* Ajuste conforme necessário */
    z-index: 20; /* Certifique-se de que está acima de ".supermercados" */
    background-color: #fff; /* Adicione um fundo branco para melhor visibilidade */
    padding: 10px; /* Adicione padding para espaçamento */
    border-radius: 10px; /* Adicione bordas arredondadas para um melhor visual */
}

.text-container-3 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 2px 5px;
    background-color: #fff;
    margin-left: 25px; /* Ajuste a margem para espaçamento */
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

.search-icon i {
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
}

.search-icon:hover i {
    color: #f0f0f0;
}

input[type="text"] {
    border: none;
    padding: 5px;
    font-size: 14px;
    width: 200px;
    background: transparent;
    outline: none;
    color: #333;
    font-family: 'Inter', sans-serif;
}

input[type="text"]::placeholder {
    color: #999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Inicialmente oculto */
    z-index: 999; /* Colocado acima de tudo, exceto da barra lateral */
}

.sidebar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    z-index: 1001; /* Garante que o ícone esteja sempre acima de tudo */
}

.sidebar-toggle i {
    font-size: 25px;
    color: #333;
}

.sidebar {
    width: 250px;
    background-color: #000;
    padding: 20px;
    transition: transform 0.3s ease;
    position: fixed;
    top: 60px; /* Posicionando o menu mais abaixo */
    left: -250px;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    border-top-right-radius: 15px; /* Arredondar borda superior direita */
    border-bottom-right-radius: 15px;
}

.sidebar.active {
    transform: translateX(250px);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #f0f0f0;
}


main {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: left; /* Alinha a imagem à esquerda */
    align-items: center;
    animation: imageSlide 1s ease-out;
}

@keyframes imageSlide {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.imagem10 {
    max-width: 100%;
    height: auto;
}

.message {
    width: 400px; /* Reduzindo a largura do elemento */
    background-color: #000;
    padding: 10px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    column-gap: 10px;
    margin-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.message:hover {
    transform: translateY(-5px); /* Efeito de elevação no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumento da sombra no hover */
}

.message p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    align-self: flex-start;
    margin-top: 5px;
    margin-left: 10px;
    border-bottom: 2px dashed #fff;
    padding-bottom: 10px;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: left;
    margin-top: 60px;
}

.rectangle {
    background-color: #fff;
    color: #000;
    border: none;
    margin-top: 10px;
    padding: 10px 30px; /* Ajuste o padding para deixar os botões com o mesmo comprimento */
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    animation: buttonFadeIn 1s ease-out;
    width: 100%; /* Faz os botões ocuparem toda a largura disponível */
}

.rectangle:hover {
    background-color: dimgray;
    color: #fff;
    transform: translateY(-3px);
}

@keyframes buttonFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






