* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header {
    background-color: #fff;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0,0, 0, 0.1);
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Inicialmente oculto */
    z-index: 999; /* Colocado acima de tudo, exceto da barra lateral */
}

.sidebar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 10px;
    z-index: 1001; /* Garante que o ícone esteja sempre acima de tudo */
}

.sidebar-toggle i {
    font-size: 25px;
    color: #333;
}

.logo-container {
    display: flex;
    align-items: flex-start;
    margin-left: 5px; /* Ajuste a margem para evitar sobreposição com o botão */
}

.logo {
    height: 50px;
    margin-right: 0px;
    margin-top: 0px;
   
}

.text-container {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    font-family: 'Fredoka', sans-serif;
}

.text-container-2 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: -0px; /* Ajuste conforme necessário */
    z-index: 20; /* Certifique-se de que está acima de ".supermercados" */
    background-color: #fff; /* Adicione um fundo branco para melhor visibilidade */
    padding: 10px; /* Adicione padding para espaçamento */
    border-radius: 10px; /* Adicione bordas arredondadas para um melhor visual */
}



.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 2px 5px;
    background-color: #fff;
    margin-left: 25px;
    max-width: 400px;
    padding: 0 10px;
    
    --border-radius: 20px;
    --background: #f4f4f4;
    --placeholder-color: #666;
    --icon-color: #666;
    --box-shadow: none; /* Ajuste a margem para espaçamento */
}

.search-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

.search-icon i {
    font-size: 16px;
    color: #333;
    transition: color 0.3s ease;
}

.search-icon:hover i {
    color: #f0f0f0;
}

input[type="text"] {
    border: none;
    padding: 5px;
    font-size: 14px;
    width: 200px;
    background: transparent;
    outline: none;
    color: #333;
    font-family: 'Inter', sans-serif;
}

input[type="text"]::placeholder {
    color: #999;
}

.sidebar {
    width: 250px;
    background-color: #000;
    padding: 20px;
    transition: transform 0.3s ease;
    position: fixed;
    top: 60px; /* Posicionando o menu mais abaixo */
    left: -250px;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    border-top-right-radius: 15px; /* Arredondar borda superior direita */
    border-bottom-right-radius: 15px;
}

.sidebar.active {
    transform: translateX(250px);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #f0f0f0;
}

.page-header {
    margin-top: 60px;
    position: fixed;
    top: 0; /* Fixa o cabeçalho no topo da tela */
    left: 0;
    right: 0;
     /* Garante que o cabeçalho fique acima de outros elementos */
    background-color: #000;
    color: #fff;
    width: 100%; /* O cabeçalho agora ocupa a largura total da tela */
    padding: 20px 20px;
    border-bottom-left-radius: 20px; /* Arredonda o canto inferior esquerdo */
    border-bottom-right-radius: 20px; /* Arredonda o canto inferior direito */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    transition: transform 0.3s ease; /* Adiciona uma leve sombra para profundidade */
}

/* Estilos de texto */
.page-header h1 {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    font-size: 2rem;
    margin: 0;
}

.page-header p {
    font-family: 'Inter', sans-serif;
    color: #757575;
    margin: 5px 0 0;
}

.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 300px;
    margin-top: 120px;
}

.cart-item {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.cart-item-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.item-details h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.price {
    color: #0066ff;
    font-weight: bold;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.control-button {
    background: #f0f0f0;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.order-summary {
    background: white;
    border-radius: 8px;
    padding: 20px;
    height: fit-content;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80;
}

.order-summary h3 {
    font-size: 16px;
    margin-bottom: 20px;
    background: #1a1a1a;
    color: white;
    padding: 15px;
    margin: -20px -20px 20px -20px; /* Negative margin to extend to edges */
    border-radius: 8px 8px 0 0;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.total {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #666;
}

.checkout-button {
    background: #1a1a1a;
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.fa-solid.fa-trash-can {
    color: red;
}

.empty-cart {
    text-align: center;
    line-height: 2.5;
    margin-top: 170px;
  }
  .empty-cart h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 28px;
  }

  .empty-cart i {
    font-size: 40px;
    animation: bounce 1s ease infinite;
}

/* Defina a animação de pulo */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Ajuste a altura do pulo aqui */
    }
}

  .empty-cart p {
    font-family: 'Inter', sans-serif;
  }

  .empty-cart button {
    background-color: #000;
    color: #fff;
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-radius: 25px;
    font-size: 18px;
    margin-top: 10px;
  }

